.modal-footer {
    width: 100%;
    align-self: flex-end;

    display: flex;
    justify-content: flex-end;
    align-self: center;

    padding: 20px 0;
    background-color: #fff;

    @media screen and (max-width: 456px) {
        flex-direction: column-reverse;
        justify-content: center;
    }

    & > button {
        @media screen and (max-width: 456px) {
            display: inline-block;
        }

        &:first-child {
            margin-right: 1rem;

            @media screen and (max-width: 456px) {
                margin: 0rem;
            }
        }

        &:last-child {
            margin-right: 2rem;

            @media screen and (max-width: 456px) {
                margin-right: 0;
                margin-bottom: 1rem;
            }
        }
    }
}